.educacao {
    display: flex;
    flex-direction: column;
    margin: .5rem; 
    padding: .5rem;
    list-style: none; 
    text-align: justify;
}

.educacao li {
    margin-bottom: 1rem;
}

.programas ul {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem; /* Espaçamento entre as imagens */
    padding: 0;
    list-style: none;
}

.programas li {
    display: inline-block;
}

.educacao .photo {
    width: 100px;
    height: 100px;
    margin: 0;
    padding: 0;
}